@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: lightgrey;
    
}

header{
    background-color: beige;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer; /*Para o cursor virar a mãozinha*/
}

span#burguer:hover{
    background-color: white;
    color: rgb(48, 48, 48);
    border-top: 2px solid rgb(48, 48, 48);
    border-bottom: 2px solid rgb(48, 48, 48);
    transition: 0.4s;
}

menu {
    display: none;   /* estava como display block, porém o none irá esconder o menu */
}

menu > ul{
    list-style-type: none;
}

/*menu > ul > li {
    display: inline-block; usar na versão desktop
   
}*/

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    color: white;
    text-align: center;
    border-top: 2px solid black;
}

menu > ul> li > a:hover{
    background-color: rgb(7, 102, 245);
    transition: 0.5s;
    
}

main{
    
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2{
    padding-bottom: 20px;
    text-align: center;
    margin: 0 0 5px 0 ;
}

article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}

